#### FOOD BALANCE SHEET DATA FOR AFRICA

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
fbs=pd.read_csv('fbs.csv', encoding = ('ISO-8859-1'))
fbs.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
fbs.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [12]:
fbs.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [14]:
fbs.groupby('Y2014')['Y2014'].sum()

Y2014
-1796.0       -1796.0
-1631.0       -1631.0
-849.0        -1698.0
-838.0         -838.0
-685.0         -685.0
               ...
 90425.0      90425.0
 98094.0      98094.0
 108756.0    108756.0
 109593.0    109593.0
 176405.0    176405.0
Name: Y2014, Length: 4493, dtype: float64

In [15]:
fbs.groupby('Y2017')['Y2017'].sum()

Y2017
-1582.0       -3164.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

In [16]:
fbs.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [18]:
fbs.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [20]:
fbs.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [21]:
fbs.groupby('Y2015')['Y2015'].sum()

Y2015
-3161.0       -3161.0
-2152.0       -2152.0
-1284.0       -1284.0
-907.0         -907.0
-887.0         -887.0
               ...
 92443.0      92443.0
 100835.0    100835.0
 110798.0    110798.0
 111663.0    111663.0
 181137.0    181137.0
Name: Y2015, Length: 4520, dtype: float64

In [22]:
fbs.groupby('Y2016')['Y2016'].sum()

Y2016
-3225.0       -3225.0
-2051.0       -2051.0
-1499.0       -1499.0
-1324.0       -1324.0
-1088.0       -1088.0
               ...
 94447.0      94447.0
 103603.0    103603.0
 116483.0    116483.0
 119330.0    119330.0
 185960.0    185960.0
Name: Y2016, Length: 4520, dtype: float64

In [27]:
fbs.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [25]:
fbs.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [29]:
fbs.groupby('Element')['Y2014'].count()

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [30]:
fbs.groupby('Element')['Y2015'].count()

Element
Domestic supply quantity                  5245
Export Quantity                           3704
Fat supply quantity (g/capita/day)        4974
Feed                                      1177
Food                                      4901
Food supply (kcal/capita/day)             4955
Food supply quantity (kg/capita/yr)       4865
Import Quantity                           4911
Losses                                    2009
Other uses (non-food)                     1667
Processing                                1995
Production                                3828
Protein supply quantity (g/capita/day)    4971
Residuals                                 4605
Seed                                       759
Stock Variation                           4229
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2015, dtype: int64

In [31]:
fbs.groupby('Element')['Y2016'].count()

Element
Domestic supply quantity                  5250
Export Quantity                           3653
Fat supply quantity (g/capita/day)        4980
Feed                                      1215
Food                                      4910
Food supply (kcal/capita/day)             4963
Food supply quantity (kg/capita/yr)       4874
Import Quantity                           4908
Losses                                    2009
Other uses (non-food)                     1634
Processing                                1996
Production                                3838
Protein supply quantity (g/capita/day)    4978
Residuals                                 4610
Seed                                       759
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2016, dtype: int64

In [32]:
fbs.groupby('Element')['Y2017'].count()

Element
Domestic supply quantity                  5258
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4982
Feed                                      1213
Food                                      4912
Food supply (kcal/capita/day)             4965
Food supply quantity (kg/capita/yr)       4876
Import Quantity                           4929
Losses                                    2009
Other uses (non-food)                     1619
Processing                                1998
Production                                3829
Protein supply quantity (g/capita/day)    4980
Residuals                                 4618
Seed                                       758
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

In [33]:
fbs.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [36]:
fbs.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64